.contribute-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cp-content {
    width: 90%;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cp-instruct {
    width: 40%;
}

.cp-postform {
    width: 40%;
}

.cp p {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 2rem;
}

.cp-instruct li {
    font-size: 1rem;
    margin-bottom: 15px;
    word-spacing: 5px;
}

@media (max-width: 768px) {
    .cp-content {
        width: 85%;
        padding: 20px;
        justify-content: center;
        flex-direction: column;
    }



    .cp-instruct {
        width: 90%;
        padding: 10px;
    }

    .cp-postform {

        width: 90%;
        margin: auto;

    }

    .post-form {
        width: 90%;
        padding: 20px;
        margin: auto;
    }
}